<div class="nav">
  <%= link_to 'Events', admin_canada_events_path %>
  <%= link_to 'Announcements', admin_canada_announcements_path %>
  <%= link_to 'Hacks', admin_canada_hacks_path %>
  <%= link_to 'Resources', admin_canada_resources_path %>
  <%= link_to 'Locations', admin_canada_locations_path %>
  <%= link_to 'Organizations', admin_canada_organizations_path %>
</div>
